<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/down.png" width="400" height="500" alt="Vijaya" title="VijayaWeb" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome Weather app</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer </span>and B.Tech student</h1>
                        <a href="#" target="_Vijaya"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            created with ❤ by Vijaya
        </p>
    </footer>
</body>

</html>